#{{ ansible_managed }}

consul {
  address = "locahost:8500"
  retry {
    enabled = true
    attempts = 12
    backoff = "{{consul_template_retry}}"
  }
}
max_stale = "{{consul_template_max_stale}}"
pid_file = "/var/run/consul-template.pid"
template {
  source = "{{consul_template_haproxy_template_dest}}"
  destination = "/etc/haproxy/haproxy.cfg"
  command = "sudo service haproxy reload"
}