#{{ ansible_managed }}

consul {
  address = "{{consul_template_consul_addr}}"
  retry {
    enabled = true
    backoff = "{{consul_template_retry}}"
  }
}
max_stale = "{{consul_template_max_stale}}"
pid_file = "/var/run/consul-template.pid"
template {
  source = "{{consul_template_haproxy_template_dest}}"
  destination: "/etc/haproxy/haproxy.cfg"
  command: "sudo service haproxy reload"
}